<footer class="footer text-center">
  <div class="medium-container"> 
    <div class="flex-row">
      <div class="flex-small footer-feature">
        <h4> Policies </h4>
        <p class="feature-description"><a href="/privacy/">Privacy</a> | <a href="/accessibility/">Accessibility</a> | <a href="/cookies/">Cookies</a></p>
        <p class="feature-description"><a href="/we-believe/">Our beliefs</a> | <a href="/safeguarding/">Safeguarding</a></p>
      </div>
      <div class="flex-small footer-feature">
        <h4> Credits </h4>
        <p class="footer-feature-description"><i class="fa fa-copyright" aria-hidden="true" style="color:white"></i> City Evangelical Church 2021</p>
        <p class="footer-feature-description">Inspired by <a href="https://taniarascia.github.io/primitive/" target="_blank">Primitive UI</a> & <a href="https://github.com/t413/SinglePaged" target="_blank">SinglePaged theme</a></p>
        <p class="footer-feature-description">Powered by <a href="https://www.github.com" target="_blank">GitHub <i class="fa fa-github" aria-hidden="true" style="color:white"></i></a></p>
      </div> 
    </div>
  </div>
</footer>

<script src="{{ 'assets/js/site.js' | relative_url }}"></script>
<script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>

{% include cookie-consent.html %}

</body>
</html>
