<h1>Pure CSS Accordion</h1>
<div class="accord_row">
  <div class="accord_col">
    <div class="accord_tabs">
      <div class="accord_tab">
        <input type="checkbox" id="chck1">
        <label class="tab-label" for="chck1">Item 1</label>
        <div class="tab-content">
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsum, reiciendis!
        </div>
      </div>
      <div class="accord_tab">
        <input type="checkbox" id="chck2">
        <label class="accord_tab-label" for="chck2">Item 2</label>
        <div class="tab-content">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. A, in!
        </div>
      </div>
    </div>
  </div>
</div>
