// Main accordion styling
$accordion-color: $button-color;
$accordion-background: $button-background;
$accordion-font-color: $font-color;
$accordion-content-background: $alternate-background;
$accordion-accent-colour: green;
$accordion-border-radius: 4px !default;

/* Accordion styles */

%accordion-ui {
  width: 100%;
  position: relative;
  padding-bottom: 0;

  li {
    list-style: none;
    margin-left: 0;

    input {
      display: none;
    }

    label {
      display: flex;
      cursor: pointer;
      padding: 0.75rem 2.4rem 0.75rem 0;
      margin: 0;
      color: $accordion-color;
      background: $accordion-background;
      border-radius: $accordion-border-radius;
      border-bottom: 2px solid;
      padding-left: 1.1rem;
      &:hover {
          background: darken($accordion-background, 10%);
      }
    }

    .accord-content {
      display: none;
      padding-bottom: 1.2rem;
      background: $accordion-content-background;
      padding-left: 1.1rem;
    }

    input:checked + label {
      background: darken($accordion-background, 10%);
      + div {
        display: block;
        color: $accordion-font-color;
      }
    }

    label::before {
      content: "\276F";
      font-weight: normal;
      font-size: 100%;
      line-height: 1.1rem;
      padding: 0;
      position: absolute;
      right: 1.1rem;
      transition: all 0.20s ease-in-out;
    }

    input:checked + label::before {
      transform: rotate(90deg);
    }
  }
}

// Primary accordion
.accordion { 
    @extend %accordion-ui;
}

// Secondary accordion colour
.accent-accordion { 
    @extend %accordion-ui;
    li label {
        background: $accordion-accent-colour;
        &:hover {
          background: darken($accordion-accent-colour, 10%)
        }
    }
    li input:checked + label {
      background: darken($accordion-accent-colour, 10%);
    }
}

// Square accordion
.square-accordion { 
    @extend %accordion-ui;
    li label {
        border-radius: 0;
    }
}

