// Main accordion styling
$accordion-color: $button-color;
$accordion-background: $button-background;
$accordion-font-color: $font-color;
$accordion-content-background: $alternate-background;

// Layout
.accordion-row {
  display:flex;
  .accord-col {
    flex:1;
    &:last-child {
      margin-left: 1em;
    }
  }
}
/* Accordion styles */
.accord-tabs {
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 4px -2px rgba(0,0,0,0.5);
}
.accord-tab {
  width: 100%;
  color: $accordion-color;
  overflow: hidden;
  &-label {
    display: flex;
    justify-content: space-between;
    padding: 1em;
    background: $accordion-background;
    font-weight: bold;
    cursor: pointer;
    /* Icon */
    &:hover {
      background: darken($accordion-background, 10%);
    }
    &::after {
      content: "\276F";
      width: 1em;
      height: 1em;
      text-align: center;
      transition: all .35s;
    }
  }
  &-content {
    max-height: 0;
    padding: 0 1em;
    color: $accordion-font-color;
    background: $accordion-content-background;
    transition: all .35s;
  }
  &-close {
    display: flex;
    justify-content: flex-end;
    padding: 1em;
    font-size: 0.75em;
    background: $accordion-background;
    cursor: pointer;
    &:hover {
      background: darken($accordion-background, 10%);
    }
  }
  input, p {
    position: absolute;
    opacity: 0;
    z-index: -1;
  }
}

// :checked
input:checked {
  + .accord-tab-label {
    background: darken($accordion-background, 10%);
    &::after {
      transform: rotate(90deg);
    }
  }
  ~ .accord-tab-content {
    max-height: 100vh;
    padding: 1em;
  }
}

// j-accordion
.accordion-ui {
  width: 100%;
  position: relative;
  padding-bottom: 0;

  li {
    list-style: none;
    margin-left: 0;

    input {
      display: none;
    }

    label {
      display: flex;
      cursor: pointer;
      padding: 0.75rem 2.4rem 0.75rem 0;
      margin: 0;
      color: $accordion-color;
      background: $accordion-background;
      border-bottom: 2px solid;
      padding-left: 1.1rem;
      &:hover {
          background: darken($accordion-background, 10%);
      }
    }

    .accord-content {
      display: none;
      padding-bottom: 1.2rem;
      background: $accordion-content-background;
      padding-left: 1.1rem;
      padding-right: 1.1rem;
    }

    input:checked + label {
      background: darken($accordion-background, 10%);
      + div {
        display: block;
        color: $accordion-font-color;
      }
    }

    label::before {
      content: "\276F";
      font-weight: normal;
      font-size: 100%;
      line-height: 1.1rem;
      padding: 0;
      position: absolute;
      right: 1.1rem;
      transition: all 0.20s ease-in-out;
    }

    input:checked + label::before {
      transform: rotate(90deg);
    }
  }
}
